body {
    background-color: #84966C;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}


.bg-light{
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    /* background-color not working */
    background-color:#9BB4BE;
    font-family: fantasy;
}


.homepage-background {
    width: 100%;
}

.word-container {

    background-image: url('https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1591716461/Portfolio%20Assets/macbook-forest_tyyghv.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 350px;
    
}
    

h1,h2,h3 {
    font-family: fantasy;
    text-align: center;
    padding-top: 10px;
    color: #F8F6EC;
}

h1 {
    font-size: 2em;
    padding-top: 30px;
}

h2 {
    font-size: 1.5em;
}



.profile-pic-background {
    display: block;
    margin: 0 auto;
    width: 8em;
    border-radius: 100%;
}

#about {
    padding: 20px;
}

.skills-icons-container  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.skills-icon {
    display: flex;
    width: 6em;
    padding-bottom: 1em;
}

ul.footer {
    list-style: none;
}
.footer li {
    float: right;
    bottom: 0;
}
.small-icons img {
    float: inline-end;
    width: 44px;
    
  }

  footer {
      /* position: fixed; */
      background-color: #F8F6EC;
      background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
      padding-left: 1em;
      bottom: 0;
      width: 100%;
      height: 100px;
      font-size: 0.75em;
  }



  /* @media only screen and (max-width: 768px) {
   #hidden-icons {
        visibility: hidden;
     } */
     

 
}