@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #84966c;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  width: 100wv;
  font-family: "Montserrat", serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  /* how to hide nav bar when scrolling down */
  /* makes sure that header is stacked on top of other elements as #1 */
  z-index: 1;
}

.bg-light {
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  background-color: #eef1dc !important;
  font-family: "Bellota", serif;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.homepage-background {
  width: 100%;
}

.header-container {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1591716461/Portfolio%20Assets/macbook-forest_tyyghv.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 350px;
}

h1,
h2,
h3 {
  text-align: center;
  padding-top: 10px;
  color: #eef1dc;
}

h1 {
  font-family: "Bellota", serif;
  font-size: 2.2rem;
  padding-top: 3.2em;
}

h2 {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.7rem;
  font-family: "Bellota", serif;
  text-decoration: underline;
}

#about img {
  margin: 0 auto;
  width: 8em;
  border-radius: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
}

#about {
  text-align: center;
  padding: 30px 35px 10px 35px;
}

/* Was trying to create a section for my quotes but had to take this out since I ran out of time.  */
/* 
.avatar-quotes-container div {
  display: inline-block;
} */

.quotes p {
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
  color: #eef1dc;
  line-height: 2.5;
}

/* .quote-1 {
  width: 300px; 
   height: 100px;
} */
/*
.quote-2 {
  width: 300px;
  height: 100px;
} */

.about-paragraph {
  font-size: 1em;
  background-color: #e2f6c3;
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  margin-top: 30px;
  padding: 20px 30px 10px;
  border-radius: 10px 30px;
  width: 80vw;
  display: inline-block;
  text-align: justify;
}
#skills {
  padding-top: 70px;
}

.skills-icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #e2f6c3;
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  border-radius: 10px 30px;
}

.skills-icon {
  display: flex;
  width: 5rem;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-items: center;
}

.skills-icon:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

.netlify {
  width: 150px;
}

.vscode {
  width: 200px;
}

.atom {
  width: 120px;
  margin-right: 10px;
}

.adobexd {
  width: 200px;
}

.postman {
  width: 100px;
}

#portfolio {
  padding-top: 80px;
}

.portfolio-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.portfolio-grid h4 {
  font-weight: bold;
}

.title-description {
  font-size: 0.5rem;
  display: inline-block;
  text-align: center;
}

.title-description h4 {
  color: #eef1dc;
  font-family: "Montserrat", serif;
}

.title-description p {
  color: #e4dfd7;
  font-size: 1rem;
  min-width: 300px;
  font-weight: 600;
  text-align: justify;
  padding: 0 10px;
}

.thumbnail img {
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 40px;
  background-color: rgba(105, 79, 61, 0);
  transition: all 200ms ease-in-out;
}

.thumbnail img:hover {
  background-color: rgba(105, 79, 61, 0.8);
  opacity: 0.5;
}

#contact {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}
input {
  min-height: 50px;
}

.form {
  display: inline-block;
  text-align: center;
  background-color: rgba(226, 246, 195, 0.5);
  width: 300px;
  padding: 15px;
  border-radius: 10px 30px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

form {
  max-width: 300px;
}

ul.footer {
  list-style: none;
}

.small-icons img {
  float: right;
  width: 44px;
  margin: 5px;
}

.small-icons img:hover {
  transform: scale(0.8) translateY(10px);
}

input[type="text"],
input[type="email"],
textarea {
  width: 95%;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
input[type="submit"] {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 10px;
}
input[type="submit"]:hover {
  transition: 500ms ease;
  background-color: #84966c;
  color: white;
}

footer {
  background-color: #eef1dc;
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  width: 100%;
  height: auto;
  font-size: 0.8rem;
}

footer p {
  margin: 0;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .title-description p {
    max-width: 400px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }

  .quotes p {
    margin: 0 auto;
    font-size: 0.9rem;
    width: 60%;
    color: #eef1dc;
    line-height: 2.5;
  }
  #about img {
    width: 200px;
  }

  #skills {
    margin: 0 auto;
    width: 90vw;
  }
  .skills-icons-container {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .portfolio-grid {
    padding: 50px;
    width: 60vw;
    margin: 0 auto;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
  }

  .thumbnail img {
    /* width: 12rem; */
  }

  .portfolio-grid p {
    font-size: 1rem;
    padding: 10px;
    width: auto;
  }

  .title-description {
    display: grid;
    justify-self: start;
    text-align: left;
    align-self: start;
    margin-top: 40px;
  }
  .form {
    width: 70vw;
  }

  form {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .title-description {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  /* .avatar-quotes-container div {
    display: inline-block;
  } */

  /* .quotes p {
    font-size: 0.9rem;
    color: #eef1dc;
    width: 300px;
    line-height: 2.5;
  } */

  /* .quote-1 {
    text-align: right;
    padding-right: 60px;
    transform: translateY(20px);
  } */

  /* .quote-2 {
    text-align: left;
    padding-left: 60px;
    transform: translateY(90px);
  } */

  .about-paragraph {
    max-width: 1100px;
  }

  .skills-icons-container {
    margin: 0 auto;
    max-width: 800px;
  }

  .portfolio-grid {
    /* width: 80vw; */
  }

  .thumbnail img {
    width: 25rem;
  }

  .title-description {
    margin-top: 50px;
    min-width: 400px;
  }
}

/* @media only screen and (min-width: 1280px) {
  .portfolio-grid {
  }
  .title-description {
    width: 400px;
  }
} */
