@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #84966c;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  width: 100wv;
  font-family: "Montserrat", serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  /* how to hide nav bar when scrolling down */
  /* makes sure that header is stacked on top of other elements as #1 */
  z-index: 1;
}

.bg-light {
  /* background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  background-color: #eef1dc !important;
  /* background-color: rgba(238, 241, 220, 0.95) !important; */
  font-family: "Bellota", serif;
  font-size: 1.2rem;
}

.homepage-background {
  width: 100%;
}

.header-container {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1591716461/Portfolio%20Assets/macbook-forest_tyyghv.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 350px;
}

h1,
h2,
h3 {
  text-align: center;
  padding-top: 10px;
  color: #eef1dc;
}

h1 {
  font-family: "Bellota", serif;
  font-size: 2.2rem;
  padding-top: 3.2em;
}

h2 {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.7rem;
  font-family: "Bellota", serif;
  text-decoration: underline;
}

.profile-pic-background {
  display: block;
  margin: 0 auto;
  width: 8em;
  border-radius: 100%;
  padding-top: 20px;
}

#about {
  text-align: center;
  padding: 20px 35px 10px 35px;
}

#about img {
  padding-top: 50px;
  padding-bottom: 20px;
}

#about p {
  font-size: 1em;
  /* background-color: #eef1dc; */
  background-color: #e2f6c3;
  /* background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px 30px;
  width: 80vw;
  display: inline-block;
}
#skills {
  padding-top: 70px;
}

.skills-icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.skills-icon {
  display: flex;
  width: 5rem;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-items: center;
}
#portfolio {
  padding-top: 80px;
}

.portfolio-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.title-description {
  font-size: 0.5rem;
  display: inline-block;
  text-align: center;
}

.title-description h4 {
  color: #fce5db;
  font-family: "Montserrat", serif;
}

.title-description p {
  color: #e4dfd7;
  font-size: 1rem;
  width: 300px;
  font-weight: 600;
}

.thumbnail img {
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 40px;
}

#contact {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}
input {
  min-height: 50px;
}

.form {
  display: inline-block;
  text-align: center;
  /* background-color: #eef1dc; */
  /* background-color: #e2f6c3; */
  background-color: rgba(226, 246, 195, 0.5);
  /* background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/candyhole.png"); */
  width: 300px;
  padding: 15px;
  border-radius: 10px 30px;
}

form {
  max-width: 300px;
}

ul.footer {
  list-style: none;
}

.small-icons img {
  float: right;
  width: 44px;
  margin: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 95%;
}

footer {
  background-color: #eef1dc;
  /* background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
  width: 100%;
  height: auto;
  font-size: 0.8rem;
}

footer p {
  margin: 0;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  #about img {
    width: 200px;
  }

  #skills {
    margin: 0 auto;
    width: 90vw;
  }
  .skills-icons-container {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .portfolio-grid {
    padding: 50px;
    width: 60vw;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .thumbnail img {
    width: 12rem;
  }

  .portfolio-grid p {
    font-size: 1rem;
    padding: 10px;
    width: auto;
  }

  .title-description {
    display: grid;
    justify-self: start;
    text-align: left;
  }
  .form {
    width: 70vw;
  }

  form {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  #about p {
    max-width: 1100px;
  }

  .skills-icons-container {
    margin: 0 auto;
    max-width: 800px;
  }

  .portfolio-grid {
    width: 80vw;
  }
}
